
<div class="container" ng-controller="homeController">
    <h2>Neev Systems Pvt Ltd</h2>
    <p>Candidate : Anna</p>                                                                                      
    <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr><th>#</th><th>Document List</th><th>Download File</th><th>Status</th><th>Remarks</th>
        </tr> 
        <tr><th>1</th><th>MSA</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr> 
        <tr><th>2</th><th>W9</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr> 
        <tr><th>3</th><th>Form Payment</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr> 
        <tr><th>4</th><th>Co. Insurance</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr> 
        <tr><th>5</th><th>H1 Document</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr> 
        <tr><th>6</th><th>Driving Licence</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr> 
        <tr><th>7</th><th>PassPort</th><th><a href="#/ChangeData">Not Added</a></th><th>Pending</th><th>Upload passport</th>
        </tr> 
        <tr><th>8</th><th>Doc2</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr> 
        <tr><th>9</th><th>Doc3</th><th><a href="UploadFile/MSA-Anna.word">download</a></th><th>Approved</th><th>Yes its got it</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    </div>
  </div>