
<div class="container" ng-controller="homeController">
        <h2>Neev Systems Pvt Ltd</h2>
        <p>Candidate : Anna</p>                                                                                      
        <div class="table-responsive">          
        <table class="table">
          <thead>
            <tr><th>#</th><th>Document List</th><th>Download File</th><th>Status</th><th>Remarks</th>
            </tr> 
            
            <tr><th>1</th><th>PassPort</th><th><input type="file"/></th><th>Pending</th><th><textarea></textarea></th>
            </tr> 
            
          </thead>
          <tbody>
            <tr>
                <td><input type="submit" value="Save and Send" class="btn btn-primary"/></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>