
<div class="container" ng-controller="homeController">
    <h2>Neev Systems Pvt Ltd</h2>
    <p>Request</p>                                                                                      
    <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Candidate</th>
          <th>Document</th>
          <th>Status</th>
          <th>Country</th>
          <th>Remarks</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td><a href="#/Anna">Anna</a></td>
            <td>Added</td>
            <td>Pending</td>
            <td>USA</td>
            <td>kindly upload passport copy</td>
           
          </tr>
          <tr>
            <td>2</td>
            <td>Shiva kumar</td>
            <td>Added</td>
            <td>Pending</td>
            <td>South Africa</td>
            <td>kindly upload D L copy</td>
           
          </tr>
          <tr>
            <td>3</td>
            <td>Farooq</td>
            <td>Added</td>
            <td>Approved</td>
            <td>South Africa</td>
            <td>Waiting for VISA</td>
           
          </tr>
          <tr>
            <td>4</td>
            <td>Srinivas</td>
            <td>Added</td>
            <td>Approved</td>
            <td>USA</td>
            <td>waiting for VISA</td>
           
          </tr>
      </tbody>
    </table>
    </div>
  </div>